<article class="topic-card">
  <h2>{{ topic.name }}</h2>
  <p>{{ topic.description }}</p>

  <button
    mat-raised-button
    color="primary"
    *ngIf="!hasSubscribed()"
    (click)="subscribeToTopic()"
  >
    S'abonner
  </button>

  <button
    mat-raised-button
    color="accent"
    *ngIf="hasSubscribed() && disableUnsubscribe"
    disabled
  >
    Déjà abonné
  </button>

  <button
    mat-raised-button color="warn"
    *ngIf="hasSubscribed() && !disableUnsubscribe"
    (click)="unsubscribeFromTopic()"
  >
    Se désabonner
  </button>
</article>
