<!--
<div class="center">
    <img ngSrc="/assets/logo_p6.png" alt="logo" height="401" width="695"/>
    <h1>Welcome to MDD</h1>
    <button mat-raised-button color="primary" (click)="start()">Commencer</button>
</div>
-->
<div class="home-container">
  <!-- logo -->
  <img ngSrc="assets/logo_p6.png" alt="Logo MDD" class="logo" width="695" height="401" priority/>

  <!-- boutons -->
  <div class="btn-group">
    <button mat-stroked-button routerLink="/login">
      Se connecter
    </button>
    <button mat-stroked-button routerLink="/register">
      S’inscrire
    </button>
  </div>
</div>
